/* faq.css */


/***** section *****/

.faq {
	overflow: hidden;
	margin-bottom: 100px;
}

.faq-category {
	width: 260px;
}

.faq-category div.strike {
	display: inline-block;
	width: 8px;
	height: 90px;
}

.faq-category p.category {
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	vertical-align: top;
	padding: 0 15px;
	width: 80%;
}

.faq-category p.category span {
	font-size: 16px;
}

.faq-list {
	width: 730px;
}

.faq-list li {
	border-top: 1px solid #ff02ff;
	line-height: 200%;
}

.faq-entrance ul.faq-list li {
	border-top: 1px solid #009cff;
}

.faq-list li div.question {
	position: relative;
	padding: 10px 80px;
	font-size: 14px;
	cursor: pointer;
}

.faq-list li div.question span.q-mark {
	position: absolute;
	left: 30px;
}

.faq-list li div.question span.q-arrow {
	position: absolute;
	right: 30px;
	color: #ff02ff;
}

.faq-entrance ul.faq-list li div.question span.q-arrow {
	color: #009cff;
}

.faq-list li div.answer {
	position: relative;
	margin: 0 20px;
	padding: 45px 100px;
	font-size: 14px;
	border-top: 1px dotted #ff02ff;
	display: none;
}

.faq-entrance ul.faq-list li div.answer {
	border-top: 1px dotted #009cff;
}

.faq-list li div.answer span.a-mark {
	position: absolute;
	left: 50px;
	top: 25px;
}
